#contentCard-wrapper{
    height: 15rem;
    width: 12rem;
    margin-top: 1rem;
    border: 0.5px solid #665AC1;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to bottom, #1b1e25, #43234b);

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    text-transform: capitalize;
}