#navbutton-wrapper{
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.navbutton{
    text-decoration :underline;
    color: #484b55;
    font-weight: bolder;
    font-size: large;
    padding: 1rem;
}

.navbutton:hover{
    background-color: #665AC1;
    color: #C6C7CE;
}
