#navigation-wrapper{
    margin: 1rem;
    color: rgb(255, 243, 243);
    height: 90%;
    background-color: #1b1e25;
    width: 90%;
}

.logo-wrapper{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper > img{
    height: 30%;
    width: 80%;
}

.buttons-wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
}

