#parent-div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.head-content-parent{
  width: -webkit-fill-available;
}

.navigation-parent{
  min-width: 15%;
  max-width: 20%;
}
