#parent-div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.head-content-parent{
  width: -webkit-fill-available;
}

.navigation-parent{
  min-width: 15%;
  max-width: 20%;
}

@media screen and (max-width: 600px){

  #parent-div {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .navigation-parent{
    min-width: 100%;
  }

  #navbutton-wrapper{
    z-index: 99;
  }

  .head-content-parent{
    width: -webkit-fill-available;
  }

}